@import '../styles/variables';

.layout-footer {
  min-height: 20vh;
  background-color: $color-primary;
  color: white;
}

footer.page-footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;

  padding: 50px 5px 5px;
}

.notice-container {
  display: flex;
}

.notice-container h4 {
  text-align: center;
  margin: 0;
}
